<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.bbs.mapper.BbsTopicLinkMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  bbs_topic_link 
		WHERE
			 topic_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.bbs.entity.BbsTopicLink">
		SELECT * 
		FROM  bbs_topic_link
		WHERE
			 topic_id = #{mainId} 	</select>
</mapper>
